<!DOCTYPE html>

<meta charset="utf-8">

<title>Dropzone simple example</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->


<p>
  This is the most minimal example of Dropzone. The upload in this example
  doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->
<!-- <form action="." method="POST" class="dropzone" id="myAwesomeDropzone">

  <input type="submit" value="Send Request">
</form> -->

<form action="{% url 'upload' %}" method="POST" class="dropzone" id="my-awesome-dropzone">
{% csrf_token %}

<div class="detail">
    <input type="radio" name="order" value="normal" checked> normal<br>
    <input type="radio" name="order" value="reverse"> reverse<br>
<div class="dimension">
    <input type="radio" name="dim" value=2 checked> 2D<br>
    <input type="radio" name="dim" value=1> 1D<br>
</div>
<a href="{% url 'result' %}"> send </a>
</form>

<div>

</div>
<style>
.detail {
  position: relative;
  top:300px;

}
</style>

<script>
// Dropzone class:
$("div#myId").dropzone({ url: "/file/post" });



</script>
